boto3==1.42.50
boto3-stubs==1.42.50
botocore==1.42.50
botocore-stubs==1.42.41
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.5
duckdb==1.4.4
fsspec==2026.2.0
google-api-core==2.29.0
google-api-python-client==2.190.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
googleapis-common-protos==1.72.0
httplib2==0.31.2
idna==3.11
jmespath==1.1.0
librt==0.8.0
mypy==1.19.1
mypy-boto3-s3==1.42.37
mypy_extensions==1.1.0
numpy==2.2.6
pandas==2.3.3
pandas-stubs==2.3.3.260113
pathspec==1.0.4
proto-plus==1.27.1
protobuf==6.33.5
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
requests==2.32.5
rsa==4.9.1
s3fs==0.4.2
s3transfer==0.16.0
six==1.17.0
tomli==2.4.0
types-awscrt==0.31.2
types-pytz==2025.2.0.20251108
types-requests==2.32.4.20260107
types-s3transfer==0.16.0
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
